

.flex-container {
    display: flex;
    gap: 24px;
    flex-flow: row wrap;
    justify-content: space-between;
}

.container1 {
    display: flex;
    gap: 32px;
} 

.container2 {
    display: flex;
    gap: 32px;
} 

.card-tem {
    width: 288px;
    background: white;
    box-shadow: 2px 2px 8px black;
}


.card-tem a {
    text-decoration: none;
    color: black;
    display: block;
    border-radius: 8px;
    overflow: hidden;
}

img {
    width: 100%;
    aspect-ratio: 288 / 196;
    object-fit: cover;
    vertical-align: top;
}


.card-tex {
    padding: 24px 16px 16px;
}

.card-tex .title {
    font-weight: bold;
    font-size: 16px;
}

.card-tex .read {
    font-size: 14px;
    text-decoration: underline;
    font-weight: bold;
    padding-left: 6px;
}

.card-tex .text {
    font-weight: light;
    font-size: 12px;
    overflow: hidden;
    display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        word-break: break-all;
        margin: 12px 0 16px;
        line-height: 17px;
}





