.flex-container {
    display: flex;
    gap: 32px 24px;
    flex-wrap: wrap;
    width: min(1224px, 100% -60px);
    margin: auto;
}



.card-tem {
    width: 288px;
    background: white;
    box-shadow: 2px 2px 8px black;
}


.card-tem a {
    text-decoration: none;
    color: black;
    display: block;
    border-radius: 8px;
    overflow: hidden;
}

img {
    width: 100%;
    aspect-ratio: 288 / 196;
    object-fit: cover;
    vertical-align: top;
}


.card-tex {
    padding: 24px 16px 16px;
}

.card-tex .title {
    font-weight: bold;
    font-size: 16px;
}

.card-tex .read {
    font-size: 14px;
    text-decoration: underline;
    font-weight: bold;
    padding-left: 6px;
}

.card-tex .text {
    font-weight: light;
    font-size: 12px;
    overflow: hidden;
    display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        word-break: break-all;
        margin: 12px 0 16px;
        line-height: 17px;
}

.flex-container article {
    width: calc((100%- 24px * 3) /4);
}